label,h1{
    font-family: 'Mansalva', cursive;
}
ion-toolbar{
    --background: black;
}
ion-title{
    --color:white;
    font-family: 'Mansalva', cursive;   
}
ion-menu-button{
    color:white;
}
ion-button{
    --background:yellowgreen; 
}
ion-button:hover{
    --background:yellowgreen;
}


div{
    margin-top:60px;
    margin-left:140px;
}
div ion-avatar img{
    width: 800px;
}
ion-label{
    
    margin-left: -70px;
     width: 200px;
    display: inline-block
}