label,h1{
    font-family: 'Mansalva', cursive;
}
ion-toolbar{
    --background: black;
}
ion-title{
    --color:white;
    font-family: 'Mansalva', cursive;   
}
ion-menu-button{
    color:white;
}
ion-button{
    --background:yellowgreen; 
}
ion-button:hover{
    --background:yellowgreen;
}
